$borderColor: #F5A0A0;
$backgroundColor: #FDE3E3;
$defaultColor: white;
$defaultBorderColor: gray;

.Body {
    padding: 0 25px;
}

.ScheduleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerHeading {
    font-size: larger;
    margin-right: 20px;
    height: 35px;
}


.rangeDiv{
    max-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rangeSelect {
    height: 40px;
    width: 120px;
}

.rangeLeft {
    margin-right: 10px;
}

.rangeRight {
    margin-left: 10px;
    margin-right: 30px;
}

.rangeLeft, .rangeRight{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        width: 35px;
        height: 35px;
        img{
            width: 15px;
            height: 15px;
            transform: rotate(90deg);
        }
    }
}

.rangeRight{
    button{
        img{
            transform: rotate(-90deg);
        }
    }
}

.statusBody,
.statusList,
.headerImportDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statusList {
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow-x: auto;
    // width: 300px;
    max-height: 40px;
    border: 1px solid $borderColor;
    background-color: $backgroundColor;
    border-radius: 60px;
}

// .statusList::-webkit-scrollbar {
//     display: flex;
//     width: 0;
//     height: 10px;
//     justify-content: center;
// }

// .statusList::-webkit-scrollbar-track {
//     width: 100px;
// }

// .statusList::-webkit-scrollbar-thumb {
//     width: 60px;
//     background-color: $borderColor;
//     box-shadow: inset 0 0 6px $borderColor;
//     border-radius: 60px;
// }

.statusDiv, .defaultStatusDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    max-height: 40px;
}

.statusDiv :hover {
    cursor: default;
}

.statusList > :first-child {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.statusList > :last-child {
    background-color: $defaultColor;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.statusList :hover {
    background-color: $borderColor;
    color: $defaultColor;
}

.selectedStatusDiv {
    background-color: $borderColor;
    color: $defaultColor;
}

.scheduleCalendar {
    display: grid;
    grid-column: 1fr;
    grid-auto-flow: column;
    margin-top: 15px;
    padding-bottom: 15px;
}

.calendarUserRow {
    display: grid;
    grid-template-columns: 170px repeat(31, minmax(30px, 1fr));
    grid-auto-flow: column;
}

.calendarUserRowWeek {
    display: grid;
    grid-template-columns: 170px repeat(7, minmax(30px, 1fr));
    grid-auto-flow: column;
}

.calDateDivSpec {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $borderColor;
    background-color: $backgroundColor;
}

.calDateDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $backgroundColor;
    background-color: $defaultColor;
}

.calHeader {
    flex-direction: column;
    border: 1px solid $backgroundColor;
    background-color: $borderColor;
    color: $defaultColor;
}

.calHeader * {
    margin: 5px 0;
}

.calendarUsers > :first-child {
    position: sticky;
    top: 0px;
    height: 70px;
    justify-content: space-around;
}

.calendarUsers > :first-child > :first-child {
    border-top-left-radius: 10px;
}

.calendarUsers > :first-child > :last-child {
    border-top-right-radius: 10px;
}

.calendarUsers > :last-child > :first-child {
    border-bottom-left-radius: 10px;
}

.calendarUsers > :last-child > :last-child {
    border-bottom-right-radius: 10px;
}

.modalDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBackground {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: $defaultBorderColor;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
}

.statusAddForm {
    position: absolute;
    z-index: 2;
    background-color: $defaultColor;
    border: 2px solid $borderColor;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
}

.fieldCont, .send{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send *{
    color: $defaultColor;
    border: 1px solid $borderColor;
    background-color: $borderColor;
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

.fieldItem *, .code *{
    border: 1px solid $borderColor;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
    padding-left: 10px;
}

.calDateDiv :active{
    background-color: white;
    visibility: hidden;
}
