.Notifications{
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    
    .notItemsContainer {
        margin-left: 40px;
        .item{
            max-width: 350px;
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            padding: 15px 20px ;
            .asa{
                p{
                    font-size: 22px;
                    font-weight: 700;
                    padding: 0px;
                    line-height: 0px;
                }
            }
            .data{
                p{
                    font-size: 22px;
                    font-weight: 700;
                    padding: 0px;
                    line-height: 0px;
                    margin-top: 40px;
                    
                }
            }
            .diagnosisCont{
                margin-top: 35px;
                .diagnosis{
                    p{
                        font-size: 22px;
                        font-weight: 600;
                        padding: 0px;
                        line-height: 0px;
                        margin-top: 40px;
                    }
                }
                .code{
                    p{
                        font-size: 22px;
                        font-weight: 600;
                        padding: 0px;
                        line-height: 0px;
                        margin-top: 40px;
                    }   
                }
            }
            .additionalInfo{
                margin-top: 50px;
                p{
                    font-size: 22px;
                    font-weight: 700;
                    padding: 0px;
                    line-height: 130%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    span{
                        color: #000;
                        font-weight: 600;
                    }
                }  
            }
            .name{
                p{
                    font-size: 22px;
                    font-weight: 700;
                    padding: 0px;
                    line-height: 100%;
                    margin-top: 5px;
                } 
                span{
                    color: #000;
                    font-weight: 600;
                }
            }
        }
    }

}
